/* app global css */
*{
	/* color: white; */
}

body{
	color: white;
	font-family: 'Jost', sans-serif;
	background-color: black;
	margin: auto;
}


::selection {
	background-color: gray;
}

.primary{
	background-color: rgb(76, 206, 0);
}
.primary--text{
	color: rgb(76, 206, 0);
}
.btn{
	text-decoration: none;
	font-weight: 700;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 50px;
	border: none;
	background-color:rgb(76, 206, 0);
	color: white;
	cursor: pointer;	
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
}
.btn:hover{
	box-shadow: rgba(76, 206, 0, 0.501) 0px 8px 24px;
	background-color: rgb(94, 255, 0);
	color: black;
}
.fab-icon{
	text-decoration: none;
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 50px;
	border: none;
	background-color:rgb(76, 206, 0);
	color: white;
	cursor: pointer;
	margin: 10px;
}
.fab-icon:hover{
	box-shadow: rgba(76, 206, 0, 0.501) 0px 8px 24px;
	background-color: rgb(94, 255, 0);
	color: black;
}

/* end of app global css */

/* navigation bar css */

.app-nav{
	background-color: transparent;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
	width: calc(100vw - 130px);
}
.nav-logo>span{
	color: rgb(76, 206, 0);
}
.nav-link-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 600px;
}
.nav-link-container>a{
	color: white;
	text-decoration: none;
}
/* end of navbar css */

/* main css */
main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* hero section css */
.hero-container{
	background-image: url('portfolio-hero.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	width: 100vw;
	display: flex;
	align-items: center;
	padding-left: 200px;
	padding-right: 50px;
}
.hero-content>h1{
	font-size: 4em;
	line-height: 0.1;
}
.hero-content>h1>span{
	color: rgb(76, 206, 0);
}
.hero-input-contianer{
	max-width: 360px;
	background-color: white;
	border-radius: 50px;
	overflow: hidden;
}
.hero-input-contianer>input{
	background-color: transparent;
	border: none;
	width: calc(69% - 7px);
	padding-left: 8px;
}
.hero-input-contianer>input:focus-visible{
	outline: none;
}
/* end of hero section css */

/* about section css */
.about-container{
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
}
.about-img{
	width: 40%;
	height: 600px;
	background-image: url('about.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.about-content{
	width: 40%;
	padding: 10px;
}
h3>span{
	color: rgb(76, 206, 0);
}
/* end of about section css */

/* service css */
.service-container{
	text-align: center;
}
.card-container{
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
}
.card{
	max-width: 250px;
	background-color: rgb(16, 16, 16);
	padding: 20px;
	border-radius: 5px;
	margin: 0px 10px;
}
.card>span{
	font-size: 2em;
}
/* end of service section */

/* hire section */
.hire-container{
	margin-top: 100px;
	margin-bottom: 100px;
	width: 100vw;
	background-color: rgb(16, 16, 16);
	text-align: center;
	padding: 50px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.hire-container>button{
	width: 100px;
	align-self: center;
}
/* end of hire section */

/* footer section */
footer{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}


/* media queries section */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/* navigation section */
	.nav-link-container{
		display: none;
	}
	.app-nav{
		padding: 10px;
		width: calc(100vw - 25px);
	}
	/* hero section */
	.hero-container{
		padding: 50px;
		height: 250px;
	}
	.hero-input-contianer>input{
		width: calc(62% - 7px);
	}
	.hero-content>h1{
		font-size: 2em;
		line-height: 0.1;
	}
	/* about section */
	.about-content{
		width: 100%;
		padding: 10px;
	}
	.about-img{
		width: 100%;
		height: 600px;
	}
	
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
